.filtersContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.submitButton {
  width: 80px;
  height: 39px;
  min-height: 39px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 4px;

  outline: none;
  cursor: pointer;
}
